{% extends "../../index.njk" %}

{% block cabecalho %}
    {% include "../../comps/cabecalho/aluno.njk" %}
{% endblock %}

{% block corpo %}
    {% include "../../comps/corpo/aluno.njk" %}
{% endblock %}