<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <a href="/">
            <h1>Plataforma</h1>
        <a>
        {% block cabecalho %}
            {% include "./comps/cabecalho/main.njk" %}
        {% endblock %}
    </header>
    
    <main class={{ classMain }}>
        {% block corpo %}
            {% include "./comps/corpo/main.njk" %}
        {% endblock %}
    </main>

    <footer>
        <p>
            &copy; Todos os direitos reservados a Hermenegildo Wilson
        </p>
    </footer>
</body>
</html>