<h2>Curso de {{ nomeCurso }}</h2>
<div class="cursos">
    <div class="curso">
        <div class="aula">
            <video src={{ "curso/aulas/"+nomeCurso+"/intro.mp4" }} controls autoplay ></video>
        </div>
    </div>
</div>